@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-contrast: black;
  }

  html {
    height: -webkit-fill-available;
  }

  body {
    height: -webkit-fill-available;
  }

  /* If using React, set height on the root div as well */
  #root {
    height: -webkit-fill-available;
    --muted: 24 6% 83%
  }

  .dark {
    --background-contrast: white;
    --muted: 29 6% 20%;
  }
}

